html, body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #113743;
  height: 100%;
  width: 100%;
}
a, a:hover {
  text-decoration: none;
  color: #587e8c;
}

.blauwgrijs {
  color: #587e8c;
}

span {
  color: red;
}

.btn-primary {
  color: #fff;
  background-color: #587e8c;
  border-color: #587e8c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #113743;
  border-color: #113743;
}

.btn-primary:focus, 
.btn-primary.focus {
  color: #fff;
  background-color: #113743;
  border-color: #113743;
  box-shadow: 0 0 0 0.25rem rgba(17, 55, 67, 0.5);
}

.btn-primary:active, 
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #113743;
  border-color: #113743;
}

.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(17, 55, 67, 0.5);
}
